{% extends 'navigation.html' %}

{% block body %}
<style>
    .text-centre{
        text-align: center;
    }
</style>
<div class="container" style="margin-top:50px">
<h2 class="text-centre"> About Us</h2>
<br><br><br><br>
<div class="row">
    <div class="col-sm-4">
        <img class=mt-4 src="https://source.unsplash.com/400x400/?hospital" alt="">
    </div>
    <div class="col-sm-8">
        <br><br><br>
        <h4>>Hello Everyone,This is a simple webside on Hospital Managment system Made by Me,using basic Html,css,javscriptand django framwork.</h4>
    </div>
</div>
</div>
{% endblock %}