{% extends 'navigation.html' %}
 {% load static %}
{% block body %}
<style>
    .text-centre{
        text-align: center;
    }
</style>

        {% ifequal error "no" %}
<script>
    alert('Logged in successfully');
    window.location = ('{% url 'home' %}');
</script>
        {% endifequal  %}
{% ifequal error "yes" %}
<script>
    alert('Invalid login credential try again');

</script>
{% endifequal  %}
<div class="container">
    <h2 class="text-centre">Admin Login</h2>
    <form method="post">
        {% csrf_token %}
        <label>
            Admin Name
        </label>
        <input type="text" class="form-control" name="uname">
          <label>
         Password
        </label>
        <input type="password" class="form-control" name="pwd">
        <br>
        <input type="submit" value="login" class="form-control btn btn-primary">
    </form>
</div>

{% endblock %}