{% extends 'navigation.html' %}
 {% load static %}
{% block body %}
<style>
    .text-centre{
        text-align: center;
    }
</style>

<div class="container" style="margin-top:50px">
    <h2 class="text-centre"> View Doctor</h2>
<br><br>
<table id="example"  class="table table-hover">
    <thead>
        <tr>
            <th>Doctor ID</th>
            <th>Doctor Name</th>
            <th>Contact</th>
            <th>Specialization</th>
            <th>Delete</th>

            
        </tr>
    </thead>
    <tbody>
        {% for i in doc %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.special}}</td>
            <td><a href="{% url 'Delete_doctor' i.id %}" onclick="return confirm('Are u sure?')" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>




{% endblock %}